<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Кредитный калькулятор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Кредитный калькулятор</h1>
<form id="formId" action="#" th:action="@{/mortgage}" th:object="${params}" method="post">
    <p>Сумма кредита: <input id="sumId" type="text" th:field="*{sum}"/></p>
    <p>Срок, в месяцах: <input id="mId" type="text" th:field="*{months}"/></p>
    <p>Годовая процентная ставка: <input type="text" readonly th:field="*{percent}"/></p>
    <p><input type="submit" value="Рассчитать"/></p>
</form>
<h3 th:text="${error}"/>

<script>
    var form = document.getElementById('formId');
    var sum = document.getElementById('sumId');
    var months = document.getElementById('mId');

    function isInteger(num) {
        return num != null && num != '' && !isNaN(num) && num > 0 && ((num ^ 0) == num);
    }

    form.addEventListener('submit', function (event) {
        if (sum && !isInteger(sum.value)) {
            event.preventDefault();
            alert('Введите сумму - целое число');
        } else if (months && !isInteger(months.value)) {
            event.preventDefault();
            alert('Введите срок - целое число');
        }
    });
</script>
</body>
</html>
